# Auto detect text files and perform LF normalization
* text=auto

# Override linguist for all code files
*.py linguist-detectable=true
*.nsi linguist-detectable=true
*.nsh linguist-detectable=true
*.json linguist-detectable=true linguist-generated=false
*.svg linguist-detectable=true linguist-generated=false
*.bat linguist-detectable=true
*.md linguist-detectable=true
